.navbar{
    /* background-color: rgba( 19,99,223, 0.1);
     */
    /* back: 0.1; */
    background-color: #548CA8;
}
.navbar.center .navbar-inner {
    text-align: center;
}

.navbar.center .navbar-inner .nav {
    display:inline-block;
    float: none;
}
.nav-link {
    display: block;
    margin-right: 24px;
    font-family: Nunito,sans-serif;
    /* color: #040e18; */
    /* color: ; */
    font-size: 16px;
    line-height: 1;
    margin-left: 2em;
}


.jumbotron{
    /* background-color: aqua; */
    height: 400px;
}
.jumbotron-desc{
    margin-left: 5em;
    margin-right: 5em;
    margin-top: 2em;
    /* position: relative; */
    /* z-index: 5; */
}
.jumbotron-desc p:nth-child(3){
    margin-top: -1em;
}
.element-icon-circle{
    position: absolute;
    margin-top: -5em;
    margin-left: 5em;
    z-index: -1;
}

.cont-card{
    position: static;
    display: flex; 
    flex-direction: row; 
    justify-content: space-evenly;
    background-color: #548CA8;
    padding: 2%;
}
.card {
    width: auto;
    height: auto;
    overflow: hidden;
    margin: 0 auto;
}
  
.card img {
    width: 100%;
    transition: 0.5s all ease-in-out;
}
  
.card:hover img {
    transform: scale(1.1);
}

.card-body{
    /* padding: 50px; */
}

.footer{
    position: static;
    background-color: black;
}
/* background-color: rgba( 19,99,223, 0.1); */
